.input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 10px 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: #f5f5ff;
}

.label {
    font-weight: 400;
    font-size: 20px;
    color: #333;
}